.saved-trips {
    flex: 1;
    padding: 0px 0px 50px 40px;
    margin: 0px;
    text-align: center;
    background-color: rgb(245, 245, 245);
    height: 100%;
}

.saved-trip__attraction--header {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-inline-start: 25px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.saved-trip__attraction--elem {
    padding: 0px;
    margin: 0px;
}

.saved-trips__cards {
    text-align: left;
    cursor: pointer;
    padding: 7px 0 20px 0;
    background: rgb(186, 255, 255, .4);
    min-height: 600px;
    max-height: 600px;
    overflow-y: auto;
}

.saved-trips-container {
    overflow-y: auto;

}

.saved-trips__card p {
    margin-inline-start: 35px;
    margin-bottom: 5px;
    font-size: 17px;
}

.saved-trips__card h3 {
    padding-left: 15px;
    margin: 15px 0px 10px 0px;
    font-size: 22px;
    font-weight: 600;
}

.saved-trips__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5px;
    margin-inline: 17px;
    cursor:pointer

}

.saved-trips__line-break {
    margin-top: 10px;
    border-bottom: 2px solid #9B2226;
}

 .directions-btn {
    align-self: center;
    width: 150px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    cursor: pointer;
    padding: 8px 0px;
    margin-top: 15px;
    border: 3px solid #66808F;
    border-radius: 10px;
    background-color: rgb(225, 225, 225);
    transition: 100ms all;  
}
