.saved-trip__attraction--header {
    text-align: left;
    margin-bottom: 5px;
    margin-inline-start: 10px;
}


.saved-trips__card p{
    margin-inline-start: 20px;
    font-size: 11px;
}

.saved-trips__card h3 {
    margin-block-end: -14px;
}

.saved-trips__card {
    /* background-color: ; */
    /* margin-top: 3px; */
    padding-left: 5px;
    padding-bottom: 5px;
    margin-inline: 37px;
    cursor:pointer

}

.saved-trips__line-break {
    margin-top: 19px;

    border-bottom: 2px solid #9B2226;

}