footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 4px solid #8398a4;
}

.col1 {
    flex: 1;
    padding: 30px 0px;
    border: 1px solid black;
}

.col2 {
    flex: 1;
    padding: 30px; 
    border: 1px solid black;  
}

.col3 {
    flex: 1;
    padding: 30px;   
    border: 1px solid black; 
}