/* Page colors are:
#66808F - gray/blue
#85C1BF - blue/green
#9B2226 - deep red
*/

@import "footer.css";
@import "modal.css";
@import "aside.css";
@import "collapse.css";
@import "weather.css";

/* removes highlights from selected boxes after click */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

html,body{
  overflow-x: hidden;
  overflow-y: auto;
}

/* making body:flex, min-height:100vh, & main flex:1 makes footer stay at bottom */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* logo container */
.logo {
  margin: 20px 0px;
}

/* logo */
.logo-RVTY {
  width: 200px;
  padding-left: 50px;
}

.headline {
  font-size: 26px;
  font-weight: 400;
  text-align: left;
  padding-right: 100px;
  margin: auto auto;
  color: #141414;
  font-size: 36px;
}

main {
  flex: 1; /* this makes footer stay at bottom if body is a flexbox */
}

/* this holds all the dropdowns */
.options-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 22px;
  font-weight: 600;
  border-bottom: 3px solid #9B2226; /* red border below dropdowns */
  padding: 10px 40px;
}

/* Plan Your Next Trip text in options bar */
.options-container span {
  font-size: 24px;
  white-space: nowrap;
  margin: 0px 30px 0px 10px;
}

/* State & Park dropdown box */
.dropdownsStatesParks {
  flex: 1;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  white-space: nowrap;
  padding: 0px 10px;
  margin: 0px 20px;
  /* border: 3px solid darkgray;
  border-radius: 5px; */
  background-color: white;
}

/* Eatery & Bizarreries dropdown boxes */
.dropdowns {
  flex: 1;
  max-width: 225px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: stretch;
  align-items: stretch;
  white-space: nowrap;
  padding: 0px 10px;
  margin: 0px 20px;
  /* border: 3px solid darkgray;
  border-radius: 5px; */
  background-color: white;
}

/* container that holds select and option tags */
.stateDropDown {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  /* justify-content: space-evenly; */
}

/* container that holds select and option tags */
.parkDropDown {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  margin-left: 45px;
}

#dropState, #dropPark {
  width: 200px;
  font-size: 22px;
  font-weight: 600;
  border: transparent;
}

#dropEat, #dropBiz {
  width: 240px;
  font-size: 22px;
  font-weight: 600;
  border: transparent;
}

/* contains both trip preview & saved trips */
.trip-container {
  display: flex;
  flex-direction: row;
}

/* flex to hold headline */
.preview-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Trip Preview & Saved Trips headline */
h2 {
  font-size: 28px;
  font-weight: 600;
  padding: 0px;
  margin: 20px auto;
}

/* main preview window that displays options chosen */
.trip-preview {
  flex: 3;
  min-height: 750px;
  max-height: 750px;
  padding: 0px 30px;
  text-align: left;
  height: 100%;
}

/* flex container to hold all the preview boxes */
.preview-flex {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

/* this styles each of the boxes that pop up after dropdown selections */
.preview-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  padding: 0px;
  margin: 40px 20px 20px 20px;
}

.preview-text {
  font-size: 22px;
  font-weight: 600;
  align-self: center;;
}

.preview-text-sm {
  font-size: 16px;
  font-weight: 600;
  align-self: center;
}

.detail-btn {
  align-self: center;
  visibility: hidden;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  padding: 4px 5px;
  margin-right: 20px;
  border: 3px solid #66808F;
  border-radius: 5px;
  background-color: #baebe9;
  transition: 100ms all;
}

.detail-btn:hover {
  background-color: #66808F;
  color: white;
}

.save-trip {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.save-trip-btn {
  text-align: center;
  width: 100px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  padding: 5px 15px;
  margin: 50px auto;
  color: #000000;
  border: 3px solid #66808F;
  background-color: rgb(225, 225, 225);
  border-radius: 10px;
  transition: 100ms all;  
}

.save-trip-btn:hover {
  background-color: #66808F;
  color: white;
}

.save-trip-btn:disabled,
.save-trip-btn[disabled]{
  color: #000000;
  border: 3px solid #66808F;
  background-color: rgb(225, 225, 225);
}

.saved-trips {
  flex: 1;
  padding: 0;
  text-align: center;
  background-color: rgb(245, 245, 245);
  height: 100%;
}

.saved-trips__card {
    text-align: left;
    padding: 9px;}

.saved-trips__header {
  height: 83px;
  margin-top: 0;
  background: #ddf9f9;
  padding-top: 0;
  width: 238px;
  position: absolute;
  z-index: 1;
  border-bottom: #9b2226 solid 2px;
}

.saved-trips__cards {
  background: rgb(186, 255, 255, .4);
  min-height: 750px;
  max-height: 750px;
  border-left: solid #b8dbd9 2px;
  padding-top: 0;
  overflow-x: hidden;
  border-bottom: solid #b8dbd9 2px;
}


.directions-btn {
  display: inline;
  text-align: center;
  width: 94px;
  font-size: 10px;
  font-weight: 506000;
  color: #000000;
  cursor: pointer;
  padding: 5px 15px;
  border: 2px solid #66808F;
  border-radius: 10px;
  background-color: rgb(225, 225, 225);
  transition: 100ms all;
  margin-right: 11px;
}

.saved-trip__btns {
  margin-top: 5px;
  width: 253px;
  margin-left: -9px;
}