/* demo colors are:
#B8DBD9 - mint blue/green
#586F7C - smoky blue/gray
#2F4550 - dark blue/gray
#F4F4F9 - smoky white
#141414 - dark gray/black
*/

@import "footer.css";
@import "modal.css";

/* making body:flex and setting main to flex:1 makes footer stay at bottom */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.logo {
    margin: 10px 0px;
}

.logo-RVTY {
    width: 175px;
    padding-left: 50px;
}

.headline {
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    padding-right: 100px;
    margin: auto auto;
    color: #141414;
    font-size: 32px;
}


main {
    flex: 1; /* this makes footer stay at bottom if body is a flexbox */
}

.options-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 22px;
    font-weight: 600;
    background-color: #D9D9D9;
    border-top: 4px solid #8398a4;
    border-bottom: 4px solid #8398a4;
    padding: 5px 40px;
}

.options-container span {
    flex: 1;
    white-space: nowrap;
    margin: auto 5px;
}

.dropdowns {
    flex: 1;
    white-space: nowrap;
    font-weight: 400;
    padding: 5px 10px;
    margin: 3px 10px;
    border: 3px solid #B8DBD9;
    border-radius: 10px;
    background-color: white;
}

.trip-container {
    display: flex;
    flex-direction: row;
    /* border: 1px dashed black; */
}

h2 {
    font-size: 26px;
    font-weight: 600;
    padding: 0px;
    margin: 20px auto;
}

.trip-preview {
    flex: 3;
    padding: 0px 30px;
    text-align: left;
}

.preview-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.preview-flex {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

/* this styles each of the boxes that pop up after dropdown selections */
.preview-box {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 20px 0px;
}

/*  changing the div class="hidden-item" to "preview-box" using js will make it appear */
.hide-item {
    /* display: none; */
}

.preview-text {
    /* font-family: "", serif; */
    font-size: 22px;
    font-weight: 600;
    align-self: center;;
}

.preview-text-sm {
    font-size: 16px;
    font-weight: 600;
    align-self: center;;
}

.detail-btn {
    align-self: center;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    width: 60px;
    padding: 4px 0px;
    margin-left: 20px;
    border: 3px solid #586F7C;
    border-radius: 7px;
    background-color: #B8DBD9;    
}

.save-trip {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.save-trip-btn {
    text-align: center;
    width: 100px;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 15px;
    margin: 50px auto;
    border: 3px solid #B8DBD9;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);    
}

.saved-trips {
    flex: 1;
    padding: 0px 30px;
    text-align: center;
    background-color: rgb(235, 235, 235);
    /* border-left: 1px dotted black; */
}
