/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; 
    /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px 100px 30px 100px;
    border: 6px solid #85C1BF;
    border-radius: 20px;
    width: 80%; /* how much page to take up */
    /* height: 500px; */
    /* overflow-y: auto; */
}

.modal-content h2 {
    text-align: center;
    padding: 0px;
    margin: 20px 0px;
}

.modal-bold {
    font-weight: 600;
    margin-right: 10px;
    white-space: nowrap;
}

.address, .phone-number, .fees, .location, .wheelchair, .pets, .wifi, .event-date, .event-time {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

/* The Close Buttons */
.close-modal {
    color: #aaaaaa;
    float: right; /* this floats the X in the top right of modal */
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover {
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.directions-list{
    max-height: 400px;
    overflow-y: scroll;
}

.modal-bold-invalid {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 20px;
}

.park-img {
    margin: 10px auto;
    text-align: center;
}

.park-img img {
    height: 400px;
    max-width: 800px;
    border: 5px solid lightgray;
    border-radius: 15px;
    margin-bottom: 15px;
}

.event-img {
    margin: 10px auto;
    text-align: center;
}

.event-img img {
    height: 250px;
    max-width: 95%;
    border: 5px solid lightgray;
    border-radius: 15px;
    margin-bottom: 15px;
}

.dates {
    padding: 0px;
    margin: 0px;
}

.dates h3 {
    font-size: 24px;
    font-weight: 600;
}
.event-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

.event-date-time, .fees {
    display: flex;
    flex-direction: row;
}

.event-date, .event-time {
    margin-left: 40px;
    font-weight: 400;
    padding-left: 10px;
}

.event-fee {
    margin-left: 12px;
    margin-bottom: 30px;
    font-weight: 400;
    padding-left: 10px;
}

.scroll-spacer {
    max-height: 300px;
    overflow-y: auto;
    /* padding: 20px; */
}

.event-description {
    font-weight: 400;
    padding: 0px;
    margin-bottom: 0px;
    /* border-radius: 20px; */
}
